[defaults]
inventory          = inventory.ini
roles_path         = roles
interpreter_python = /usr/bin/python3
stdout_callback    = default
result_format      = yaml
collections_path   = ~/.ansible/collections

[privilege_escalation]
become        = false
become_method = sudo
